<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkapi.datebase.dao.risk_auth_jobMapper">
	<resultMap id="risk_auth_jobMapper" type="com.fkapi.datebase.domain.risk_auth_job">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="cust_id" jdbcType="BIGINT" property="custId" />
		<result column="auth_status" jdbcType="VARCHAR" property="authStatus" />
		<result column="gmt_expiry" jdbcType="TIMESTAMP" property="gmtExpiry" />
		<result column="gmt_succeed" jdbcType="TIMESTAMP" property="gmtSucceed" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
	</resultMap>
	<sql id="risk_auth_job">
		id, cust_id, auth_status, gmt_expiry, gmt_succeed, gmt_create,
		gmt_modified
	</sql>
	<select id="selectByCustId" parameterType="java.lang.Long"
		resultMap="risk_auth_jobMapper">
		select
		<include refid="risk_auth_job" />
		from risk_auth_job
		where cust_id = #{custId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByCustId" parameterType="java.lang.Long">
		delete from risk_auth_job
		where cust_id = #{custId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.fkapi.datebase.domain.risk_auth_job">
		insert into risk_auth_job (cust_id, auth_status,
		gmt_expiry, gmt_succeed, gmt_create,
		gmt_modified)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.custId}, #{item.authStatus}, NULL,
			#{item.gmtSucceed}, #{item.gmtCreate}, #{item.gmtModified})
		</foreach>
	</insert>
	<update id="updateByCustId" parameterType="com.fkapi.datebase.domain.risk_auth_job">
		update risk_auth_job
		<set>
			<if test="custId != null">
				cust_id = #{custId,jdbcType=BIGINT},
			</if>
			<if test="authStatus != null">
				auth_status = #{authStatus,jdbcType=VARCHAR},
			</if>
			<if test="gmtExpiry != null">
				gmt_expiry = #{gmtExpiry,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtSucceed != null">
				gmt_succeed = #{gmtSucceed,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</set>
		where cust_id = #{custId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fkapi.datebase.domain.risk_auth_job">
		update risk_auth_job
		set cust_id = #{custId,jdbcType=BIGINT},
		auth_status = #{authStatus,jdbcType=VARCHAR},
		gmt_expiry = #{gmtExpiry,jdbcType=TIMESTAMP},
		gmt_succeed = #{gmtSucceed,jdbcType=TIMESTAMP},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>